/* Reset default margin, padding, and box model for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Enable smooth scrolling behavior for HTML elements */
html {
  scroll-behavior: smooth;
}
/* Set background color and height for the body */
body {
  background: whitesmoke;
  height: 50vh;
}
/* Styles for the navigation bar */
.navbar {
  background: white;
}
/* Styles for an image with the class "mage" */
.mage {
  width: 4.6rem;
  margin-top: 1rem;
  margin-left: 8rem;
  border-radius: 50px;
}
/* Styles for the navigation bar's list */
.navbar-nav {
  padding-left: 20rem;
}
/* Styles for anchor links within a specific list item of the navbar */
#navbarNav > ul > li:nth-child(n) > a {
  color: dodgerblue;
  font-size: 0.9rem;
  font-weight: 500;
}
/* Styles for an image within an element with class "banner" */
.banner img {
  margin-top: 7.3rem;
  width: 102%;
  margin-left: -2%;
}
/* Styles for specific FontAwesome icons */
.fa-bell {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  color: dodgerblue;
}
.fa-award {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  color: dodgerblue;
}
.fa-handshake {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  color: dodgerblue;
}
/* Styles for spacing between rows */
.row {
  row-gap: 10px;
}
/* Styles for anchor links within an element with class "card-body" */
.card-body a {
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: underline;
  font-weight: 500;
  color: dodgerblue;
}
/* Styles for the title of a card element */
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styles for an element with id "about" */
#about {
  background: dodgerblue;
}
/* Styles for elements with class "text" */
.text {
  padding-bottom: 20rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
}
/* Styles for paragraphs within elements with class "text" */
.text p {
  margin-top: 25px;
}
/* Styles for the "Who We Serve" section */
.who h2{
  margin-top: 4rem;
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styles for elements with class "love" */
.love {
  margin-top: 1rem;
  margin-left: 5rem;
  gap: 1rem;
}
/* Styles for the "Explore Our Products" section */
.pro h2 {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styles for a wrapper element */
.wrapper {
  margin-left: 5rem;
  position: relative;
}
/* Styles for the carousel within the wrapper */
.wrapper .carousel {
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
    margin-right: 5rem;
}
/* Styles for the carousel when dragging */
.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
/* Styles for carousel images */
.carousel.carousel.dragging img {
  pointer-events: none;
}
/* Styles for carousel images */
.carousel img {
  width: calc(100% / 4);
}
/* Styles for navigation arrows within the wrapper */
.wrapper i {
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 30px;
  background: dodgerblue;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* Styles for the first navigation arrow */
.wrapper i:first-child {
  left: -1.8rem;
  display: none;
}

/* Styles for the last navigation arrow */
.wrapper i:last-child {
  right: 2.5rem;
}
/* Styles for the "We Would Love To Hear From You" section */
.would h2 {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styles for the text within the "We Would Love To Hear From You" section */
.would p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styles for a button within the "btn" class */
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styles for the button */
.btn button {
  padding: 15px 40px;
  background: rgba(2, 2, 59, 0.986);
  border: none;
  border-radius: 50px;
}
/* Styles for anchor links within the button */
.btn button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
/* Media queries for responsive design */
@media only screen and (max-width: 1200px) {
  .banner img{
    width: 102%;
  }
  .card-el {
    display: flex;
    justify-content: space-between;
  }
  .card-le {
    display: flex;
    justify-content: space-between;
  }
  .card-ele {
    display: flex;
    justify-content: space-between;
  }
  body > header > div > div.container.my-5 > div > div.card-el.col-lg-4.col-md-4.col-sm-12 > div > div > a {
    padding-top: 1.5rem;
  }
}
@media only screen and (max-width: 998px) {
  .banner img{
    width: 102%;
  }
}
@media only screen and (max-width: 991px) {
  body > header > div > div.container.my-5 > div > div.card-el.col-lg-4.col-md-4.col-sm-4.col-12 > div > div > a {
    padding-top: 1.5rem;
  }
  .wrapper .carousel {
    margin-right: 3rem;
  }
  .carousel img {
    width: calc(100% / 3);
  }
}
@media only screen and (max-width: 768px) {
  .navbar-nav {
    background: whitesmoke;
    padding: 0 0.8rem;
  }
  .mage {
    width: 4rem;
    margin-top: 1rem;
    margin-left: 4rem;
    border-radius: 50px;
  }
  .banner img {
    width: 102%;
    margin-top: 6rem;
  }
  body > header > div > div.container.my-5 > div > div.card-el.col-lg-4.col-md-4.col-sm-4.col-12 > div > div > a {
    padding-top: 1.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .card-text {
    font-size: 5px;
  }
  body > header > div > div.container.my-5 > div > div.card-el.col-lg-4.col-md-4.col-sm-4.col-12 > div > div > a {
    padding-top: 1px;
  }
  body > header > div > div.container.my-5 > div > div.card-ele.col-lg-4.col-md-4.col-sm-4.col-12 > div > div > a {
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 575px) {
  .love{
    margin-right: 18%;
  }
  .card-text {
    font-size: 1rem;
  }
  .card-el {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-le {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-ele {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 468px) {
  .mage {
      width: 4rem;
      margin-top: 1rem;
      margin-left: 3rem;
      border-radius: 50px;
    }
    .banner img {
      width: 102%;
     }
    .carousel img {
      width: 100%;
    }
}
@media only screen and (max-width: 330px) {
  .who h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}